.root {
	position: relative;
}

.input {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 12px 20px;
	padding-left: 42px;
	width: 300px;
	border-radius: 10px;
	font-size: 16px;
	transition: all 0.15s ease-in-out;
	&:focus {
		border: 1px solid rgba(0, 0, 0, 0.4);
	}
}

.icon {
	width: 22x;
	height: 22px;
	opacity: 0.3;
	position: absolute;
	left: 12px;
	top: 12px;
}

.clear {
	width: 18px;
	height: 18px;
	opacity: 0.3;
	position: absolute;
	right: 15px;
	top: 15px;
	transition: all 0.15s ease-in-out;
	&:hover {
		cursor: pointer;
		opacity: 0.8;
	}
}
